<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" th:href="@{/css/listagem.css}">
</head>
<body>

<div th:replace="fragments/config :: config"></div>
<div th:replace="fragments/header"></div>




<div class="container">
  <h1>Listagem de Professores</h1>

  <div th:if="${mensagem}" class="alert alert-success alert-dismissible fade show " role="alert">
    <span th:text="${mensagem}"></span>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    
  </div>

  <div class="container-campos">

    <form th:action="@{/professor/buscar}" method="post">
      <input type="text" name="nome">
      <button class="buscar" type="submit">Buscar<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="#fff" d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z"/></svg></button>
    </form>

    <a th:href="@{/professor/novo}" class="buscar">Cadastrar<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="#ffffff" d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM169.8 165.3c7.9-22.3 29.1-37.3 52.8-37.3l58.3 0c34.9 0 63.1 28.3 63.1 63.1c0 22.6-12.1 43.5-31.7 54.8L280 264.4c-.2 13-10.9 23.6-24 23.6c-13.3 0-24-10.7-24-24l0-13.5c0-8.6 4.6-16.5 12.1-20.8l44.3-25.4c4.7-2.7 7.6-7.7 7.6-13.1c0-8.4-6.8-15.1-15.1-15.1l-58.3 0c-3.4 0-6.4 2.1-7.5 5.3l-.4 1.2c-4.4 12.5-18.2 19-30.6 14.6s-19-18.2-14.6-30.6l.4-1.2zM224 352a32 32 0 1 1 64 0 32 32 0 1 1 -64 0z"/></svg></a>

  </div>
  <table class="table table-striped">

    <thead>
    <tr>
      <th>Id</th>
      <th>Matrícula</th>
      <th>Nome</th>
      <th>Email</th>
      <th>Data Nasc</th>
      <th>Data Cadastro</th>
      <th>Ações</th>
    </tr>
    </thead>
    <tr th:if="${professores.empty}">
      <td colspan="7" style="text-align: center">Sem Professores</td>
    </tr>
    <tr th:each="professor : ${professores}">
      <td><span th:text="${professor.id}"> Id </span></td>
      <td><span th:text="${professor.nome}"> Nome </span></td>
      <td><span th:text="${professor.email}"> Email </span></td>
      <td><span th:text="${professor.cpf}"> CPF </span></td>
      <td><span th:text="${professor.dataNascimento}"> CPF </span></td>
      <td><span th:text="${professor.dataCadastro}"> CPF </span></td>
      <td>
        <a class="btn btn-outline-danger btn-sm"
           th:href="@{/professor/excluir/{id}(id=${professor.id})}"
           th:data-confirm-delete="|Você gostaria de apagar ${professor.nome}?|"
           onclick="if (!confirm(this.getAttribute('data-confirm-delete'))) return false">
          Apagar
        </a>

        <a class="btn btn-outline-primary btn-sm"
           th:href="@{/professor/alterar/{id}(id=${professor.id})}">Editar
        </a>

      </td>
    </tr>
  </table>
</div>
</body>
</html>